BasedOnStyle: LLVM
IndentWidth: 4
AlignEscapedNewlines: LeftWithLastLine
AllowAllParametersOfDeclarationOnNextLine: true
PackArguments:
  BinPack: OnePerLine
PackParameters:
  BinPack: OnePerLine
PenaltyReturnTypeOnItsOwnLine: 80
SpaceAfterCStyleCast: true
