BasedOnStyle: LLVM
IndentWidth: 4
AlignEscapedNewlines: LeftWithLastLine
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: OnePerLine
PenaltyReturnTypeOnItsOwnLine: 80
SpaceAfterCStyleCast: true
# PackArguments: OnePerLine
